@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
html, body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: white;
}
html {
  background: #555 url(images/background_subd.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
h1 {
  font-family: 'Staatliches', cursive;
}